<h2>Поиск сотрудников по&nbsp;их&nbsp;задачам и&nbsp;результатам работы</h2>

<form class="form-search">
  <input name="query" type="text" value="<%= params[:query] %>"
         class="search-query" autofocus placeholder="оформление договоров"
         style="width: 94%;">
</form>

<table class="table table-striped">
  <% @employees.each do |employee| %>
    <tr>
      <td>
        <%= link_to employee do %>
          <%= employee.name %>
        <% end %>
        <br>
        <em><%= employee.phone %></em>
      </td>
      <td>
        <%= employee.position %>
        <br>
        <em><%= number_to_currency employee.salary unless
                    employee.salary.nil? %></em>
      </td>
      <td><small><%= employee.department.name %></small></td>
      <td>
        <%= link_to employee, :class => 'btn', :title => 'Посмотреть' do %>
          <i class="icon-zoom-in"></i>
        <% end %>
      </td>
      <td>
        <%= link_to edit_employee_path(employee), :class => 'btn',
                    :title => 'Редактировать' do %>
          <i class="icon-edit"></i>
        <% end %>
      </td>
      <td>
        <%= number_to_percentage(employee.rank.to_f * 100, :precision => 0) %>
      </td>
    </tr>
    <tr>
      <td colspan="6" style="padding-bottom: 50px;">
        <%= employee.headline.html_safe %>
      </td>
    </tr>
  <% end %>
</table>