<h2>Поиск схожих задач</h2>

<form class="form-inline">
  <div class="form-actions">
    <label class="checkbox">
      <input type="checkbox" id="only_different_employees" checked>
      Только разные сотрудники
    </label>
  </div>
</form>

<table class="table table-striped table-similar">
  <thead>
    <tr>
      <th>Сотрудник 1</th>
      <th>Сотрудник 2</th>
      <th>TF-IDF</th>
    </tr>
  </thead>
  <tbody>
    <% @similar_tasks.each do |pair| %>
      <tr data-e1="<%= pair['e1'] %>" data-e2="<%= pair['e2'] %>"
          style="display: <%= pair['e1'] == pair['e2'] ? 'none' : 'table-row' %> ;">
        <td style="width: 45%;">
          <%= render 'task', :employee   => Employee.find(pair['e1']),
                             :assignment => Assignment.find(pair['a1']) %>
        </td>
        <td style="width: 45%;">
          <%= render 'task', :employee   => Employee.find(pair['e2']),
                             :assignment => Assignment.find(pair['a2']) %>
        </td>
        <td style="width: 10%;">
          <%= number_to_percentage pair['similarity'].to_f * 100,
                                   :precision => 0 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
