<p class="pull-right">
  <span title="Создано">
    <%= l @employee.created_at, :format => :long %>
  </span>
  <br>
  <strong title="Последнее изменение">
    <%= l @employee.updated_at, :format => :long %>
  </strong>
</p>

<h2><%= @employee.name %></h2>

<p class="lead">
  <%= link_to 'Редактировать сотрудника', edit_employee_path(@employee) %>
</p>

<p><%= @employee.position %></p>

<% unless @employee.phone.blank? %>
  <p><%= @employee.phone %></p>
<% end %>

<% unless @employee.salary.nil? %>
<form class="form-inline">
  Зарплата
  <select class="recalc-period span2" data-value="<%= @employee.salary %>">
    <option value="1">за месяц</option>
    <option value="12">за год</option>
  </select>
  &mdash;
  <span class="recalc-result"><%= @employee.salary %></span>&nbsp;руб.
</form>
<% end %>

<p><em><%= @employee.comments %></em></p>

<hr>

<% unless @employee.instructions.empty? %>
  <h4>Должностные обязанности</h4>
<% end %>

<div id="instructions">
  <%= render @employee.instructions %>
</div>

<%= render 'instructions/form' %>

<%= link_to '← К подразделению сотрудника', @employee.department %>
<br>
<%= link_to '← Ко всем сотрудникам', employees_path %>