<%= form_for Assignment.new, :remote => true do |f| %>
  <h4>Добавить новый отчёт о выполнении задач</h4>

  <%= f.label :period %>
  <%= f.select :period, [
      ['неделя',  Assignment::PERIOD_WEEK],
      ['месяц',   Assignment::PERIOD_MONTH],
      ['квартал', Assignment::PERIOD_QUARTER],
      ['год',     Assignment::PERIOD_YEAR]
  ], { :selected => Assignment::PERIOD_MONTH }, { :class => 'span2'} %>

  <%= f.hidden_field :employee_id, :value => @employee.id %>

  <%= f.label :task %>
  <%= f.text_area :task, :class => 'span8', :rows => 3 %>

  <%= f.label :result %>
  <%= f.text_area :result, :class => 'span8', :rows => 3 %>

  <div class="form-actions">
    <%= f.submit 'Добавить отчёт по задаче', :class => 'btn btn-primary' %>
  </div>
<% end %>
