<%= form_for Assignment.new, :remote => true do |f| %>
  <%= f.label :period %>
  <%= f.select :period, [
      ['день',    Assignment::PERIOD_DAY],
      ['неделя',  Assignment::PERIOD_WEEK],
      ['месяц',   Assignment::PERIOD_MONTH],
      ['квартал', Assignment::PERIOD_QUARTER],
      ['год',     Assignment::PERIOD_YEAR]
  ], { :selected => Assignment::PERIOD_MONTH }, { :class => 'span2'} %>

  <%= f.hidden_field :instruction_id, :value => instruction.id %>

  <%= f.label :task %>
  <%= f.text_area :task, :class => 'span8', :rows => 3 %>

  <div class="form-actions">
    <%= f.submit 'Добавить отчёт по задаче',
                 :class => 'btn btn-primary btn-small' %>
    или <span class="fake-link toggle-close-add-assignment">закрыть</span>
  </div>
<% end %>
