<%= form_for Assignment.new, :remote => true do |f| %>
  <%= f.hidden_field :instruction_id, :value => instruction.id %>

  <%= f.label :task %>
  <%= f.text_area :task, :class => 'span8', :rows => 3 %>

  <div class="form-actions">
    <%= f.submit 'Добавить отчёт по задаче',
                 :class => 'btn btn-primary btn-small' %>
    или <span class="fake-link toggle-close-add-assignment">закрыть</span>
  </div>
<% end %>
