<h2>Регистрация</h2>

<%= form_for resource, :as => resource_name,
             :url => registration_path(resource_name) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email, 'Электронная почта' %>
  <%= f.email_field :email, :autofocus => true %>

  <%= f.label :password, 'Пароль' %>
  <%= f.password_field :password%>

  <%= f.label :password_confirmation, 'Подтверждение пароля' %>
  <%= f.password_field :password_confirmation %>

  <div class="form-actions">
    <%= f.submit 'Зарегистрироваться', :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
