<%= form_for Instruction.new, :remote => true do |f| %>
  <%= f.hidden_field :employee_id, :value => @employee.id %>

  <%= f.label :details %>
  <%= f.text_area :details, :class => 'span8', :rows => 3 %>

  <div class="form-actions">
    <%= f.submit 'Добавить должностную обязанность',
                 :class => 'btn btn-primary' %>
  </div>
<% end %>