<div class="instruction">
  <blockquote id="instruction<%= instruction.id %>">
    <%= instruction.details %>
  </blockquote>

  <%= render instruction.assignments   %>
  <dl class="assignments" data-instruction="<%= instruction.id %>">
    <dt>
      <span class="fake-link toggle-add-assignment">+ Добавить задачу</span>
      <div class="assignment" style="display: none;">
        <%= render 'assignments/form', :instruction => instruction  %>
      </div>
    </dt>
  </dl>
</div>