<blockquote id="instruction<%= instruction.id %>">
  <%= instruction.details %>
</blockquote>

<dl class="assignments dl-horizontal" data-instruction="<%= instruction.id %>">
  <%= render instruction.assignments   %>
  <dd>
    <span class="fake-link toggle-add-assignment">+ Добавить задачу</span>
    <div class="assignment" style="display: none;">
      <%= render 'assignments/form', :instruction => instruction  %>
    </div>
  </dd>
</dl>
