<%= form_for result, :remote => true do |f| %>
  <%= f.hidden_field :assignment_id, :value => assignment.id %>

  <%= f.label :details %>
  <%= f.text_area :details, :class => 'span8 result_details', :rows => 3 %>

  <div class="form-actions">
    <%= f.submit (result.new_record? ?
                    'Добавить выполненную работу' : 'Сохранить изменения'),
                 :class => 'btn btn-primary btn-small' %>
    или <span class="fake-link toggle-close-add-result">закрыть</span>
  </div>
<% end %>