<h2>Авторизация</h2>

<%= form_for resource, :as => resource_name,
             :url => session_path(resource_name) do |f| %>
  <%= f.label :email, 'Электронная почта' %>
  <%= f.email_field :email, :autofocus => true %>

  <%= f.label :password, 'Пароль' %>
  <%= f.password_field :password %>

  <% if devise_mapping.rememberable? %>
    <%= f.label :remember_me, :class => 'checkbox' do %>
      <%= f.check_box :remember_me %> Запомнить меня
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.submit 'Войти', :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
